@mixin button($border,$bg,$color,$pd,$bg-color,$color-hover){
    border: 2px solid $border;
    border-radius: 40px;
    background-color: $bg;
    color: $color;
    padding: $pd;
    font-weight: $font-weight-bold;
    font-size: $font-size-1;
    cursor: pointer;
    &:hover{
        background-color: $bg-color;
        color: $color-hover;
    }
}
.btn-vehicle{
    @include button($color-blue-200,$color-blue-100,$color-white,$pd-1 $pd-5,$color-white,$color-blue-100);
}
.btn-vehicle-active{
    @include button($color-blue-200,$color-white,$color-blue-100,$pd-1 $pd-5,$color-blue-200,$color-white);
}